li{
    list-style: none;
}

.sidebar {
    width: 290px;
    height: 130vh;
    position: absolute;
    left: 0;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* padding: 40px; */
    padding-top: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  .title img{
    padding-left: 3%;
    width: 200px;
    height: 130px;
  }
  .sidebar-menu {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-item {
    display: flex;
    align-items: center;
    padding: 20px 40px;
    border-bottom :3px solid #cacaca;
    font-size: 18px;
    cursor: pointer;
    color: #333;
  }
  
  .sidebar-item:hover {
    background-color: #ececec;
  }
  
  .sidebar-icon {
    margin-right: 10px;
  }
  
  .sidebar-support h4 {
    font-size: 16px;
    color: #888;
    padding-left: 15px;
    margin-bottom: 10px;
  }
  
  .sidebar-text {
    font-size: 16px;
  }
  